# # Ignore everything
# *

# # But not these files...
# !.gitignore
# !*.tf
# !*.auto.tfvars
# !*.yaml
# !.terraform.lock.hcl
# !*.sh
# !/bash/*
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/jenkins_home/
**/db_data/

# # ...even if they are in subdirectories
# !*/